/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */
body {
  max-width: 390px;
  font-family: "Lato", sans-serif;
}

.lu-par {
  display: flex;
}

.lu-par img {
  justify-content: space-between;
  height: 40px;
}

.recommendations {
  display: flex;
}

.recommendations img {
  height: 150px;
  border-radius: 5px;

}