/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */
body {
  max-width: 100%;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;



}

.tout {
  padding: -10px;
  max-width: 100%;
}

.titre {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
  margin-top: 3em;
  align-items: center;
}

.titre h1 {
  margin: 0%;
}


.equilibre {
  height: 27px;
  width: 25px;
}


.couverture {
  text-align: center;
}

.couverture img {
  max-width: 50%;
  border-radius: 10px;

}

.infos-livre {
  background-color: #E0ECFF;
  padding: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -10em;
  border-radius: 8px;
}


.icons {
  display: flex;
  justify-content: space-between;
}

.note {
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.note p {
  margin: 0%;
}


p {
  text-align: center;
}

.commentaires {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 6px;
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;

}

.lu-par {
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;
}

.lu-par p {
  text-align: left;
}

.lu-par img {
  justify-content: space-between;
  height: 40px;
}


.recommendations {
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;

}

.recommendations p {
  text-align: left;
  column-gap: 1em;
}

.livres {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  column-gap: 1em;
}

.recommendations img {
  height: 150px;
  border-radius: 5px;
  justify-content: space-between;




}